.banner {
  width: auto;
  height: 100vh;
  margin-top: 0px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"), linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 246, 252, 0.52));
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0px;
  color: white;
  text-shadow: 1px 1px 20px rgba(0,0,0,0.5);
}

.banner p {
  color: grey;
}
